.MuiInputBase-input.Mui-disabled {
    font-family: "SpoqaHanSans";
    color: #212529;
}

.MuiInputBase-root.Mui-disabled.selected input {
    color: #2083ff;
    font-weight: bold;
}

.dragFinished {
    position: relative
}

.dragFinished:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(271deg, #e0f6ff, #2083ff);
    border-radius: 4px;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 1;
    animation-fill-mode: none;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: dragFinished 0.7s ease-in-out forwards 1;
    animation: dragFinished 0.7s ease-in-out forwards 1;
}


@-webkit-keyframes dragFinished {
    0% {
        width: 0px;
    }

    70% {
        width: 100%;
        opacity: 1;
    }

    90% {
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
        width: 0px;
    }
}

@keyframes dragFinished {
    0% {
        width: 0px;
    }

    70% {
        width: 100%;
        opacity: 1;
    }

    90% {
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
        width: 0px;
    }
}

.dragFinished:first-child input {
    color: #fff !important;
    font-weight: bold;
}