:root {
  --maincolor: #2083ff;
  --lightblue: #77caff;
  --powder-blue: #afe7ff;
  --pale-sky-blue: #c2e8ff;
  --maintext: #212529;
  --battleship-grey: #737b84;
  --blue-grey: #868e96;
  --very-light-blue: #e9ecef;
  --pale-grey: #f6f7f9;
  --salmon: #ff6b6b;
  --green-blue: #00b381;
}

@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-Light),
    url(/path/to/AppleSDGothicNeo-Light.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-Light.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-Regular),
    url(/path/to/AppleSDGothicNeo-Regular.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-Regular.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-Medium),
    url(/path/to/AppleSDGothicNeo-Medium.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-Medium.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-SemiBold),
    url(/path/to/AppleSDGothicNeo-SemiBold.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-SemiBold.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-Bold),
    url(/path/to/AppleSDGothicNeo-Bold.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-Bold.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
.Text-Style-14 {
  font-family: AppleSDGothicNeo;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Text-Style {
  font-family: AppleSDGothicNeo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: var(--maincolor);
}
.Text-Style-2 {
  font-family: AppleSDGothicNeo;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: var(--maintext);
}
.Text-Style-7 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--maintext);
}
.Text-Style-5 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  color: var(--maintext);
}
.Text-Style-13 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  text-align: center;
  color: #ed1c24;
}
.Text-Style-12 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  color: var(--battleship-grey);
}
.Text-Style-11 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  text-align: center;
  color: var(--battleship-grey);
}
.Text-Style-9 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Text-Style-8 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: var(--battleship-grey);
}
.Text-Style-3 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  color: #191c1f;
}
.Text-Style-10 {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  color: #ffffff;
}
.Text-Style-6 {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-grey);
}
.Text-Style-4 {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.64px;
  color: #191c1f;
}