::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Spoqa Han Sans, Spoqa Han Sans JP, sans-serif
}

/* popup body */
body {
  margin: 0px;
  padding: 0px;
}

.popup-body {
  position: relative;
  width: 260px;
  height: 430px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

/* login-container */
/* category-empty-container */
.login-required-container,
.category-empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 234px;
  margin-top: 10px;
}

.category-empty {
  width: 260px;
  height: 234px;
}

/* category */
.category {
  overflow: auto;
  width: 260px;
  height: 234px;
  background-color: #fafafa;
}

.category .category-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: right;

  margin: 16px 26px;
  width: 208px;
  height: 52px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.category .category-card .category-card-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  /* font-family: SpoqaHanSans; */
  width: 110px;
  height: 24px;
  font-size: 14px;

  padding: 12px 0px 12px 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--maintext);

}

.category .category-card .tab-text {
  /* font-family: SpoqaHanSans; */
  text-align: right;
  width: 60px;
  height: 18px;
  font-size: 12px;

  /* margin-left: 45px; */
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-grey);
}

/* category-create */

.category-create-btn {
  width: 208px;
  height: 52px;
  background: #F0F3F5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 16px 26px 0;
}
.category-create-btn:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
}
.category-create-btn.hide {
  display: none;
}
.category-create-btn .category-plus{
  margin: auto;
  width: 24px;
}

/* category-create-input-wrapper */

.category-create-input-wrapper {
  width: 210px;
  height: 52px;
  border: solid 1px #2083ff;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%), 0 5px 12px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: #fff;
  margin: 16px 26px 0;
  display: flex;
  flex-direction: row;
  align-items:center;
}
.category-create-input-wrapper.hide {
  display: none;
}
.enter-category-name-input{
  width: 122px;
  height: 24px;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #f1f3f5;
  border: none;
}
.enter-category-name-input:focus {
  outline: none !important;
}
.category-btn-group {
  display: flex;
  flex-direction: row;
}
.category-btn-group .create-ok-btn {
  color: #fff;
  width: 37px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  min-width: 0;
  border-radius: 4px;
  border: none;
  background-color: #2083ff;
  cursor: pointer;
}
.category-btn-group .create-cancel-btn{
  width: 37px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  min-width: 0;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.category-btn-group .create-cancel-btn:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

/* category-upload-finish */
.upload-finish {
  color: #fff;
  background: linear-gradient(271deg, #e0f6ff, #2083ff);
  background-size: 100% 100%;
  -webkit-animation: CategoryFinishAnimate 17s ease infinite;
  -moz-animation: CategoryFinishAnimate 17s ease infinite;
  animation: CategoryFinishAnimate 17s ease infinite;
}

.upload-finish>.category-card-text {
  color: #ffffff !important;
}

@-webkit-keyframes CategoryFinishAnimate {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes CategoryFinishAnimate {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes CategoryFinishAnimate {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* category-card-check */
.category-card.check {
  width: 208px;
  height: 52px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--maincolor);
  background-color: #ffffff;
}

.category-card.check .category-card-text {
  font-weight: bold;
  color: var(--maincolor);
}

/* category-card, -check :hover */
.category-card:hover {
  width: 208px;
  height: 52px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.category-card.check:hover {
  width: 208px;
  height: 52px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px var(--maincolor);
  background-color: #ffffff;
}

/* btn-group */
.btn-group {
  /* font-family: SpoqaHanSans; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.58px;
  text-align: center;
  color: var(--pale-grey);
}

/* link save Btn-active-none */
.link-save-btn {
  cursor: pointer;

  align-items: center;
  display: flex;
  justify-content: center;

  margin: 17px;
  width: 228px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--light-grey);
}

/* .link-save-btn .link-save-btn-text{
  cursor: pointer;
  width: 102px;
  height: 20px;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.58px;
  text-align: center;
  color: var(--pale-grey);
} */
/* link save Btn-active */
.link-save-btn.active {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--maincolor);
  color: #fff;
}

/* urlLink open */
.urlLink-open-btn {
  align-items: center;
  display: flex;
  justify-content: center;

  margin: 17px;
  width: 228px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--powder-blue);
}

.urlLink-open-btn .urlLink-open-btn-text {
  padding: 14px;
  width: 100%;
  height: 20px;
  color: var(--maincolor);
}

a.urlLink-open-btn-text:link {
  text-decoration: none;
}

a.urlLink-open-btn-text:visited {
  text-decoration: none;
}

a.urlLink-open-btn-text:hover {
  text-decoration: none;
}

/* logo */
.center {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 17px;
  margin-top: 23px;
}

.logo {
  width: 92px;
  height: 20px;
  object-fit: contain;
}

/* category popup */
.category-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 234px;
  z-index: 9999;
  background-color: rgba(248, 207, 220, 0.2);
}

.category-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px;
  min-height: 44px;
  border-radius: 4px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.15), 0 10px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(33, 37, 41, 0.85);
  padding: 10px 0;
}

.category-popup-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 5px;
}

.category-popup-container .category-popup-text {
  width: 190px;
  /* font-family: SpoqaHanSans; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.64px;
  color: #ffffff;
}