/*-----------media query-----------*/

$phone : "only screen and (max-width: 767px)";
$tablet : "only screen and (max-width: 1024px) and (min-width: 768px)";
$desktop : "only screen and (min-width: 1025px)";

@media #{$desktop} {
    .container-layout {
        flex-direction: row;
    }

    .login-layout {
        width: 388px;
    }

    .image-layout {
        width: calc(100vw - 388px);
    }
}

@media #{$tablet} {
    .container-layout {
        flex-direction: row;
    }

    .login-layout {
        width: 388px;
    }

    .image-layout {
        width: calc(100vw - 388px);
    }
}

@media #{$phone} {
    .container-layout {
        flex-direction: column;
    }

    .login-layout {
        width: 100vw
    }

    .image-layout {
        display: none;
    }
}


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
}


/*-----------login && signup-----------*/

$mainTextColor: #212529;


.container {
    display: block;
}

.container-layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.login-box {
    height: auto;
    box-shadow: 3px 2px 16px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
}

.logo-URLink {
    width: 87px;
    height: 19px;
}

.title-login {
    width: 164px;
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #393f45;
    margin-top: 33px;
    margin-bottom: 20px;
}

.line {
    width: 300px;
    position: relative;
    text-align: center;
    margin: 33px auto;
    z-index: 1;
}

.line::before {
    display: inline-block;
    content: "";
    position: absolute;
    height: 0px;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 300px;
    border-top: 1px solid #979797;
    margin: 0px auto;
}

.line span {
    color: $mainTextColor;
    background: rgb(255, 255, 255);
    padding: 0px 10px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.91px;
    text-align: center;
}

.subtitle {
    width: 74px;
    height: 14px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #393f45;
    letter-spacing: -0.64px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.form-id {
    width: 300px;
}

.form-password {
    width: 300px;
}

.input-email {
    margin: 10px 0 24px 0;
    height: 40px;
    background-color: #f1f3f5;
    border-color: #ced4da;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.64px;
}

.input-nickname {
    margin: 10px 0 24px 0;
    height: 40px;
    background-color: #f1f3f5;
    border-color: #ced4da;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.64px;
}

.input-password {
    margin: 10px 0 0 0;
    height: 40px;
    background-color: #f1f3f5;
    border-color: #ced4da;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.64px;
}

::placeholder {
    color: #9da6af;
}

.btn-SigninupBox {
    width: 100px;
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.73px;
    color: #ffffff;
}


.btn-SigninupBox span {
    font-family: 'SpoqaHanSans';
}

.btn-SigninupText {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.73px;
}

.btn-SigninupText span {
    font-family: 'SpoqaHanSans';
}

.check-idpw {
    width: 298px;
    height: 12px;
    font-family: 'SpoqaHanSans';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.55px;
    position: relative;
    display: none;
}

.id-true {
    color: #00b381;
    top: -20px;
}

.id-false {
    color: #ff6b6b;
    top: -32px;
}

.pw-true {
    color: #00b381;
    top: 4px;
}

.pw-false {
    color: #ff6b6b;
    top: -8px;
}

.nickname-false {
    top: -20px;
    color: #ff6b6b;
}




/*-----------login-----------*/

.logo-google {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.btn-GoogleLogin {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $mainTextColor;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 1.8px;
    border: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.58px;
    cursor: pointer;
}

.image-box-login {
    height: auto;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}




/*-----------signup-----------*/

.agree-group {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    padding-right: 8px;
}

.text-agree {
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.91px;
    color: #737b84;
}

.image-box-signup {
    height: auto;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}